<h2>Edit Registration</h2>

<%= render "form.html", changeset: @changeset,
                        action: registration_path(@conn, :update, @registration) %>

<span><%= link "Back", to: registration_path(@conn, :index) %></span>
