<h2>Listing Registrations</h2>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Password</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for registration <- @registrations do %>
    <tr>
      <td><%= registration.email %></td>
      <td><%= registration.password %></td>

      <td class="text-right">
        <span><%= link "Show", to: registration_path(@conn, :show, registration), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: registration_path(@conn, :edit, registration), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: registration_path(@conn, :delete, registration), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Registration", to: registration_path(@conn, :new) %></span>
