<h2>Show Registration</h2>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @registration.email %>
  </li>

  <li>
    <strong>Password:</strong>
    <%= @registration.password %>
  </li>

</ul>

<span><%= link "Edit", to: registration_path(@conn, :edit, @registration) %></span>
<span><%= link "Back", to: registration_path(@conn, :index) %></span>
