<h2>Edit Complaint categories</h2>

<%= render "form.html", changeset: @changeset,
                        action: complaint_categories_path(@conn, :update, @complaint_categories) %>

<span><%= link "Back", to: complaint_categories_path(@conn, :index) %></span>
