<h2>Категории жалоб</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for complaint_categories <- @complaint_categories do %>
    <tr>
      <td><%= complaint_categories.title %></td>

      <td class="text-right">
        <span><%= link "Жалобы", to: complaint_categories_complaints_path(@conn, :index, complaint_categories), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Показать", to: complaint_categories_path(@conn, :show, complaint_categories), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Редактировать", to: complaint_categories_path(@conn, :edit, complaint_categories), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Удалить", to: complaint_categories_path(@conn, :delete, complaint_categories), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Новая категория жалоб", to: complaint_categories_path(@conn, :new) %></span>
