<h2>Новая категори жалоб</h2>

<%= render "form.html", changeset: @changeset,
                        action: complaint_categories_path(@conn, :create) %>

<span><%= link "Назад", to: complaint_categories_path(@conn, :index) %></span>
