<h2>Show Complaint categories</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @complaint_categories.title %>
  </li>

</ul>

<span><%= link "Edit", to: complaint_categories_path(@conn, :edit, @complaint_categories) %></span>
<span><%= link "Back", to: complaint_categories_path(@conn, :index) %></span>
