<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="password-reset-form">
            <%= form_for @changeset, password_path(@conn, :update), fn f -> %>
            <h2>Введите новый пароль</h2>

            <div class="form-group">
                <%= label f, "пароль" %>
                <%= password_input f, :password, class: "form-control"%>
                <%= error_tag f, :password %>
            </div>

            <div class="form-group">
                <%= label f, "повторите пароль" %>
                <%= password_input f, :password_confirmation, class: "form-control" %>
                <%= error_tag f, :password_confirmation %>
            </div>

            <input type="hidden" name="user[email]" value="<%= @email %>">
            <input type="hidden" name="user[key]" value="<%= @key %>">

            <%= submit "Сохранить", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>
