<h2>Редактировать МКБ подкод</h2>

<%= render "form.html", changeset: @changeset,
                        action: mkb_subs_path(@conn, :update, @mkb, @mkb_subs) %>

<span><%= link "Назад", to: mkb_subs_path(@conn, :index, @mkb) %></span>
