<h2>МКБ подкоды</h2>

<table class="table">
  <thead>
    <tr>
      <th>Код</th>
      <th>Краткое описание</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for mkb_subs <- @mkb_subs do %>
    <tr>
      <td><%= mkb_subs.code %></td>
      <td><%= mkb_subs.short_desc %></td>

      <td class="text-right">
        <span><%= link "Показать", to: mkb_subs_path(@conn, :show ,@mkb, mkb_subs), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Редактировать", to: mkb_subs_path(@conn, :edit, @mkb, mkb_subs), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Удалить", to: mkb_subs_path(@conn, :delete, @mkb, mkb_subs), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Новый подкод", to: mkb_subs_path(@conn, :new, @mkb) %></span>
