<h2>Добавить новый подкод для МКБ <%= @mkb.code %> </h2>

<%= render "form.html", changeset: @changeset,
                        action: mkb_subs_path(@conn, :create, @mkb) %>

<span><%= link "Back", to: mkb_subs_path(@conn, :index, @mkb) %></span>
