<h2>Поросмотр МКБ подкода</h2>

<ul>

  <li>
    <strong>Код:</strong>
    <%= @mkb_subs.code %>
  </li>

  <li>
    <strong>Краткое описание:</strong>
    <%= @mkb_subs.short_desc %>
  </li>

</ul>

<span><%= link "Редактировать", to: mkb_subs_path(@conn, :edit, @mkb, @mkb_subs) %></span>
<span><%= link "Назад", to: mkb_subs_path(@conn, :index, @mkb) %></span>
