<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Восстановление пароля</h2>

        <p>Если этот аккаунт был зарегистрирован в медицинской информационной системе МЦРЗ,
Вы должны получить сообщение не эл. почту со ссылкой на восстановление пароля.
        </p>
        <%= link "На главную", to: page_path(@conn, :index) %>
    </div>
</div>
