<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="password-reset-form">
        <h2>Восстановление пароля</h2>
        <%= form_tag(password_reset_path(@conn, :create)) do %>
            <div class="form-group">
                <label> Email </label>
                <input type="email" name="email" class="form-control" required>
            </div>
            <%= submit "Продолжить", class: "btn btn-primary" %>
        <% end %>
        </div>
    </div>
</div>
