/* This file is for your main application css. */
@media (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
}

.boxes input {
    margin: 5px;
}

.boxes label {
    display: block;
}

.nav .actions {
    float: left;
    margin-right: 2px;
    height: 42px;
}
.nav .actions button {
    height: 100%;
}

.radios-group {
    display: inline;
    line-height: 3;
}
.radios-group:nth-of-type(2n+1) {
    background: #fff;
}

.login-form, .password-reset-form {
    max-width: 400px;
    margin: 0 auto;
}

.radios input:checked+span {
    font-weight: bold;
    background: #cbd0f4;
    padding: 4px;
    border-radius: 4px;
}

.radios-group > label {
    cursor: pointer;
}

.radios {
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
    line-height: 2;
    user-select: none;
}

.radios input {
    margin-right: 5px;
    margin-left: 5px;
}

.radios > span {
    margin-right: 2px;
}

.radios > span, .radios-group > span, .radios .sub {
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}

.radios label {
    font-weight: normal;
}

.list {
    margin-bottom: 20px;
    margin-top: 20px;
}

.multiple-input {
    display: flex;
    max-height: 300px;
}

.multiple-input > select {
    flex: 1.5;
    border: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.multiple-input > select.big {
    min-height: 300px;
}

.multiple-input > textarea {
    flex: 2;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#part-5 .multiple {
    min-height: 220px;
}

.mkbs .btn {
    margin-bottom: 10px;
}

.table.nested {
    background: #e2e5fc;
    border-radius: 3px;
    margin-top: 0;
    padding-top: 0;
}

header a.btn-info:hover {
    background-color: #606c8d;
}

header a.btn-warning:hover {
    background-color: #ec961c;
}

.instructions .actions #save {
    float: right;
}
.instructions table td {
    border-right: 1px solid #ddd;
    cursor: pointer;
    user-select: none;
}
.instructions table td:first-child {
    border-left: 1px solid #ddd;
}
.instructions table td.on {
    background: #aaa;
    color: #aaa;
}
.instructions table td.off {
    background: #fff;
    color: #fff;
}

.instructions table .day {
    min-width: 20px;
    max-width: 20px;
    text-align: center;
}

.instructions table tr {
    border-bottom: 1px solid #ddd;
}

.visitation .grouped {
    content: "";
    clear: both;
}

.visitation .grouped input{
    float: right;
    line-height: 1;
    padding: 0;
}

.visitation .grouped > div {
    content: "";
    clear: both;
    margin-bottom: 10px;
    background: #eee;
    padding: 8px;
    border-radius: 4px;
}

.visitation .grouped.medium {
    width: 60%;
}

.visitation input {
    margin-bottom: 10px;
}

.visitation .micro {
    margin-right: 10px;
    display: inline-block;
    content: "";
    clear: both;
    max-width: 25%;
    margin-bottom: 10px;
}
.visitation .micro > input {
    max-width: 40px;
}
.visitation p {
    line-height: 2.5;
}
.visitation p > input {
    line-height: 1.33;
}
.visitation p .small {
    max-width: 40px;
}

.visitation p .max {
    width: 100%;
}

.visitation .control-label {
    font-weight: normal;
}

tr.first {
    background: #e3dbf4;
}
