<h2>Редактировать прием</h2>

<%= render "form.html", changeset: @changeset,
    action: patient_visitation_path(@conn, :update, @patient, @visitation, part: @part),
    patient: @patient,
    part: @part,
    conn: @conn,
    visitation: @visitation,
    current_user: @current_user,
    controller_action: :edit
%>
