<%= form_for @changeset, @action, [class: "visitation"], fn f -> %>
<%= if @changeset.action do %>
    <div class="alert alert-danger">
        <p>Ошибка.</p>
    </div>
<% end %>
<% first = if @changeset.data.id, do: @changeset.data.first, else: !His.Patients.has_first?(@patient) %>
<%= if !first do %>
    <%= map f, :zk, "Предварительный диагноз", using: :textarea %>
    <%= map f, :zk, "Рекомендовано", using: :textarea %>
    <%= map f, :zk, "Подробнее", using: :textarea %>
    <%= map f, :zk, "Анамнез", using: :textarea %>
    <div>
        <h4 style="display: inline;"> Пациент согласен </h4>
        <%= map_input f, :fields, "part_1_agreement", using: :checkbox, class: "" %>
    </div>
    <label> Назначение повторного приема
        <%
        current_year = Date.utc_today() |> Map.get(:year, 2017)
        range = current_year..(current_year + 5)
        %>
        <%= datetime_select f, :next_visit_at, year: [options: range]%>
    </label>
<% else %>
    <%= render_pagination(@conn, @controller_action, @patient, @changeset.data.id, @part) %>
    <%= His.Web.VisitationView.render partial_template(@part), form: f, visitation: @visitation, current_user: @current_user %>
<% end %>
<div class="form-group">
    <%= submit submit_text(@changeset.data.first, @part), class: "btn btn-primary" %>
</div>
<% end %>
