<h2>Все приемы пациента</h2>

<table class="table">
  <thead>
    <tr>
      <th>Доктор</th>
      <th>Дата</th>
    </tr>
  </thead>
  <tbody>
<%= for visitation <- @patient.visitations do %>
    <tr class="<%= if visitation.first, do: "first" %>">
      <td><%= "#{visitation.user.first_name} #{visitation.user.last_name}" %> </td>
      <td><%= NaiveDateTime.to_date(visitation.inserted_at) %> </td>
      <td class="text-right">
        <% text = if visitation.instructions, do: "Редактировать процедурный лист", else: "Новый процедурный лист" %>
        <span><%= link text, to: patient_visitation_path(@conn, :instructions, @patient, visitation), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Печать", to: patient_visitation_path(@conn, :print, @patient, visitation), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Смотреть/Редактировать", to: patient_visitation_path(@conn, :edit, @patient, visitation), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Удалить", to: patient_visitation_path(@conn, :delete, @patient, visitation), method: :delete, data: [confirm: "Вы уверены?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Новый прием", to: patient_visitation_path(@conn, :new, @patient) %></span>
