<div class="instructions">
  <h2> Процедурный лист </h2>
  <p>
    Во время лечения <strong>запрещены</strong> половые контакты (до выздоровления всех партнеров), употребление спритных напитков; <strong>рекомендуется</strong> после лечения прохождение клинико-лабораторных контролей (ежемесячно, №3), ограничить употребление острого, соленого, копченого, жареного, газированых напитков; желательно употреблять каши, кисели, молочно-кислые продукты, обогащенные бифидо- и лактобактериями. Мужчинам рекомендуются регулярные мастурбации. Сдача контрольный анализов после окончания лечения через <input type="text" id="after-days" style="max-width: 40px;" value="<%= @changeset.data.instructions["days"] %>"> дней. 
  </p>
<% action = patient_visitation_path(@conn, :instructions_update, @patient, @changeset.data.id) 
   state = fn 
   (0) -> "off"
   (1) -> "on"
   end %>
    <table class="table" id="instructions_table">
      <thead>
        <tr>
          <th>Наименование препаратов</th>
          <%= for day <- 1..31 do %>
            <th class="day"> <%= day %> </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <%= for row <- @changeset.data.instructions["rows"] || [] do %>
        <tr class="">
          <td><%= row["name"]%></td>
          <%= for s <- row["data"] do %>
            <td class="day <%= state.(s) %>" onClick=""> 
              <%= s %> 
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="actions">
      <label>Добвить новый препарат
        <input type="text" id="row-name">
        <button id="add-row" class="btn btn-success"> Добавить </button>
      </label>
      <button id="save" class="btn btn-primary"> Сохранить</button>
    </div>
    <%= link "Back", to: patient_visitation_path(@conn, :index, @patient) %>
</div>
  <script>
  window.onload = function() {

    var t = $('#instructions_table');
    var table = document.getElementById("instructions_table");

    function add_table_handler(table, offset) {
      offset = offset || 1
      if (table != null) {
        for (var i = offset; i < table.rows.length; i++) {
            for (var j = 1; j < table.rows[i].cells.length; j++)
            table.rows[i].cells[j].onclick = function () {
                toggleCell(this);
            };
        }
      }
    }

    add_table_handler(table);
    $("#save").on("click", save_handler);
    $("#add-row").on("click", add_row_handler);

    function toggleCell(cell) {
      var state = cell.innerHTML == 0 ? 1 : 0;
      var className = state == 0 ? "off" : "on";
      cell.innerHTML = state;
      cell.className = "day " + className;
      console.log(t.tableToJSON())
    } 

    var data = [];
    for (var i = 1; i < 32; i++) {
      data.push(0)
    }

    function new_row(name) {
      var initial = "";
      for (var i = 0; i < data.length; i++) {
        initial = initial + "<td class='day off'>0</td>"
      }
      return "<tr>" + "<td>" + name + "</td>" + initial + "</tr>";
    }

    function add_row(name) {
      t.append(new_row(name));
      var offset = $("#instructions_table tr").length - 1
      add_table_handler(table, offset)
    }

    function map_table(json_table) {
      return json_table.map(function (row) {
        var data = [];
        for (var p in row) {
          if (parseInt(p, 10)) {
            data.push(parseInt(row[p], 10))
          }
        }
        return {data: data , name: row["Наименование препаратов"]}
      })
    }

    function save_handler(e) {
      var payload = {"instructions": {"days": $("#after-days").val(), "rows": map_table(t.tableToJSON())} };
      make_request(payload)
    }

    function add_row_handler(e) {
      var name = $("#row-name").val();
      if (name == "") {
        return false;
      } else {
        add_row(name);
      }
    }

    function make_request(data) {
        var xhr = new XMLHttpRequest();
        var url = "<%= action %>"; 
        var csrf = "";
        xhr.open("PUT", url, true);
        xhr.setRequestHeader("Content-type", "application/json");
        xhr.setRequestHeader("x-csrf-token", "<%= get_csrf_token() %>")
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var json = JSON.parse(xhr.responseText);
                window.location.replace(json.follow);
                console.log(json);
            }
        };
        var data = JSON.stringify(data)
        xhr.send(data);
      };
}
  </script>
