<h2>Новый прием</h2>

<%= render "form.html", changeset: @changeset,
    action: patient_visitation_path(@conn, :create, @patient, part: @part), 
    patient: @patient,
    part: @part,
    conn: @conn,
    controller_action: :new
%>

<span><%= link "Back", to: patient_visitation_path(@conn, :index, @patient) %></span>
