<div id="part-5" class="partial-visitation">
  <% mkbs = prepare_mkbs(His.Patients.Mkb.list_mkbs) %>
  <% specialists = ~w(Акушер-гинеколог Дерматовенеролог Уролог Андолог) %>
  <% complaints = prepare_complaints(His.App.list_complaint_categories) %>
  <h4> Дата приема <%= @visitation.inserted_at |> format_time() %> </h4>
  <%= list @form, :jb, "Специалист", specialists %>
  <%= list @form, :jb, "Жалобы", complaints, select: [class: "big"] %>
  <%= map @form, :jb, "Объективные данные", using: :textarea %>
  <%= map @form, :jb, "Диагноз основного заболевания", using: :select, select_from: mkbs %>
  <%= list @form, :jb, "Осложнения", mkbs, select: [class: "big"] %>
  <%= list @form, :jb, "Сопутствующие заболевания", mkbs, select: [class: "big"] %>
  <%= map @form, :jb, "Данные наблюдения в динамике", using: :textarea %>
  <%= map @form, :jb, "Рекомендации", using: :textarea %>
  <%= map @form, :jb, "Назначения", using: :textarea %>
  <div>
      <h4 style="display: inline;">План обследования</h4>
      <div class="boxes">
          <%= boxes @form, :po, "План обследования",
          ["OAK" , "Коагулограмма", "Кровь на PSA общ/ своб",
          "Посев мочи (содержимого уретры эякулята, СПЖ) на УПФ и антибиотикограмма",
          "ИППП",
          "ПЦР",
          "УЗИ почек, мочевого пузыря, органов мошонки",
          "TРУЗИ предстательной железы, объем остаточной мочи",
          "Уретроскопия, цистоскопия",
          "ЭКГ",
          "Обзорная, в/в экскреторная рентгенография почек, цистография",
          "Динамическая гамма-сцинтиграфия почек",
          "МСКТ/МРТ почек, забрюшинного пространства, органов МТ",
          "Рентгенография органов грудной клетки",
          "Спермограмма"] %>
      </div>
  </div>
    <div class="radios">
        <span> Лечение </span>
        <div>
        <%= sub_radios(@form, :po, "Лечение", "режим",
            ["амбулаторный", "госпитализация в стационар"]) %>
        </div>
        <div>
        <%= sub_radios(@form, :po, "Лечение", "1",
            ["Назначения согласно процедурному листу"]) %>
        </div>
        <div>
        <%= sub_radios(@form, :po, "Лечение", "2",
            ["Избегать переохлаждений, подъема тяжести, физ. нагрузок"]) %>
        </div>
        <div>
        <%= sub_radios(@form, :po, "Лечение", "3",
            ["Диета с исключением острых, копченых, маринованных, соленых,
мясных блюд, спиртного, питьевой режим до 2 л/сут."]) %>
        </div>
        <div>
        <%= sub_radios(@form, :po, "Лечение", "4",
            ["Половой покой до выздоровления"]) %>
        </div>
        <div>
        <%= sub_radios(@form, :po, "Лечение", "5",
            ["Обследование и лечения полового партнера"]) %>
        </div>
    <div>
</div>
</div>
<div>
    <h4 style="display: inline;">С планом обследования и медицинскими вмешательствами согласен</h4>
    <%= map_input @form, :fields, "s_planom_soglasen", using: :checkbox, class: "" %>
</div>
<div>
<h4 style="display: inline;">С диагнозом ознакомлен, с лечением согласен</h4>
    <%= map_input @form, :fields, "s_diagnozom_soglasen", using: :checkbox, class: "" %>
</div>
<div>
    <h4> ФИО Врача: <%= lfm(@current_user) %> </h4>
</div>
