<div id="part-3" class="partial-visitation">
    <h3> Данные объективного осмотра: </h3>
    <div class="micro">
        Рост <%= map_input @form, :ds, "Рост", using: :text_input, class: "small" %>&nbsp см.,
    </div>
    <div class="micro">
        вес <%= map_input @form, :ds, "вес", using: :text_input, class: "small" %>&nbsp (кг.),
    </div>
    <div class="micro">
        ИМТ <%= map_input @form, :ds, "ИМТ", using: :text_input, class: "small" %>,
    </div>
    <div class="micro">
        Пульс <%= map_input @form, :ds, "Пульс", using: :text_input, class: "small" %>&nbsp(уд. в мин.),
    </div>
    <div class="micro">
        А/Д <%= map_input @form, :ds, "А/Д", using: :text_input, class: "small" %> &nbsp(мм.рт.ст.),
    </div>
    <div class="micro">
      t С <%= map_input @form, :ds, "t С", using: :text_input, class: "small" %>
    </div>
    <br>
      На педикулез: осмотрена.
      </br>
    <br>
    <div class="grouped medium">
    <div>
      Особенности телосложения (гипер-,гипо- ,нормостеник). <%= map_input @form, :ds, "Особенности телосложения", using: :text_input, class: "" %>
    </div>
    <div>
      Кожные покровы, подкожная жировая клетчатка <%= map_input @form, :ds, "Кожные покровы", using: :text_input, class: "" %>
    </div>
    <div>
      Язык (не) обложен<%= map_input @form, :ds, "Язык (не) обложен", using: :text_input, class: "" %>,
    </div>
    <div>
      лимфоузлы (не) увеличены <%= map_input @form, :ds, "лимфоузлы (не) увеличены ", using: :text_input, class: "" %>
    </div>
    <div>
      Дыхание <%= map_input @form, :ds, "Дыхание", using: :text_input, class: "" %>,
    </div>
    <div>
      Хрипы <%= map_input @form, :ds, "Хрипы", using: :text_input, class: "" %>
    </div>
    <div>
      Живот при пальпации <%= map_input @form, :ds, "Живот при пальпации", using: :text_input, class: "" %>
    </div>
    <div>
      С-м Пастернацкого <%= map_input @form, :ds, "С-м Пастернацкого", using: :text_input, class: "" %>
    </div>
    <div>
      Гирсутизм <%= map_input @form, :ds, "Гирсутизм", using: :text_input, class: "" %>
    </div>
    <div>
      Гирсутное число <%= map_input @form, :ds, "Гирсутное число", using: :text_input, class: "" %>
    </div>
  </div>
  </p>
  <br>
    <%= map @form, :ds, "Особенности", using: :textarea %>
    <%= map @form, :ds, "Молочные железы", using: :textarea %>
    <p>
    <strong> STATUS GENITALIS : </strong>
    Фаза менструального цикла <%= map_input @form, :sg, "Фаза менструального цикла", using: :text_input, class: "" %>
    (день<%= map_input @form, :sg, "Фаза менструального цикла день", using: :text_input, class: "" %>)
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Наружные половые органы:</span>
      <%= map_input @form, :sg, "Наружные половые органы", using: :text_input, class: "form-control" %>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Слизистая vag.</span>
      <%= map_input @form, :sg, "Слизистая vag.", using: :text_input, class: "form-control" %>
    </div>
  </p>
    <%= map @form, :sg, "Шейка матки", using: :textarea %>
    <p>
    С-м зрачка <%= map_input @form, :sg, "С-м зрачка", using: :text_input, class: "max" %>
    <br>
    Тело матки: положение <%= map_input @form, :sg, "Тело матки: положение", using: :text_input, class: "" %>
    размеры <%= map_input @form, :sg, "Тело матки: размеры", using: :text_input, class: "" %>
    <br>
    Консистенция <%= map_input @form, :sg, "Консистенция", using: :text_input, class: "" %>
    поверхность <%= map_input @form, :sg, "поверхность", using: :text_input, class: "" %>
    <br>
    Подвижность <%= map_input @form, :sg, "Подвижность", using: :text_input, class: "" %>
    болезненность <%= map_input @form, :sg, "болезненность", using: :text_input, class: "" %>
    <br>
    Область придатков: OD <%= map_input @form, :sg, "Область придатков: OD", using: :text_input, class: "" %>
    OS <%= map_input @form, :sg, "Область придатков: OS", using: :text_input, class: "" %>
    <br>
    Своды vag. <%= map_input @form, :sg, "Своды vag.", using: :text_input, class: "max" %>
    <br>
    Выделения <%= map_input @form, :sg, "Выделения", using: :text_input, class: "max" %>
    <br>
    Ректо-вагинальное исследование: ампула rectum
    <%= map_input @form, :sg, "Ректо-вагинальное исследование: ампула rectum", using: :text_input, class: "max" %>
    <br>
  </p>
    <%= map @form, :sg, "Ректо-вагинальная перегородка", using: :textarea %>
  </div>
<div>
    <h3> Осмотр уролога </h3>
    <div class="micro">
        Рост <%= map_input @form, :ou, "Рост", using: :text_input, class: "small" %>&nbspсм.,
    </div>
    <div class="micro">
        вес <%= map_input @form, :ou, "вес", using: :text_input, class: "small" %> &nbspкг.,
    </div>
    <div class="micro">
        ИМТ <%= map_input @form, :ou, "ИМТ", using: :text_input, class: "small" %>,
    </div>
    <div class="micro">
        Пульс <%= map_input @form, :ou, "Пульс", using: :text_input, class: "small" %>&nbspуд. в мин.,
    </div>
    <div class="micro">
      ОТ <%= map_input @form, :ou, "OT", using: :text_input, class: "small" %>
    </div>
    <div class="micro">
      t С° <%= map_input @form, :ou, "t С", using: :text_input, class: "small" %>
    </div>

    <div class="radios">
    <%= radios(@form, :ou, "Общее состояние",
        ["удовлетворительное", "средней степени тяжести", "тяжелое"]) %>.
    </div>

    <div class="radios">
        <div>
        <%= radios(@form, :ou, "Кожные покровы, видимые слизистые оболочки окраски",
            ["обычной", "бледные"]) %>,
        <%= sub_radios(@form, :ou, "Кожные покровы, видимые слизистые оболочки окраски",
            "высыпания", ["нет", "eсть"]) %>:
        <%= map_input @form, :ou, "Кожные покровы, видимые слизистые оболочки окраски:высыпания:optional",
        using: :text_input, class: "small" %>
        </div>
        <%= sub_radios(@form, :ou, "Кожные покровы, видимые слизистые оболочки окраски",
            "отеки", ["нет", "eсть"]) %>:
        <%= map_input @form, :ou, "Кожные покровы, видимые слизистые оболочки окраски:отеки:optional",
        using: :text_input, class: "small" %>
    </div>

    <div class="radios">
    <%= radios(@form, :ou, "Живот",
        ["мягкий", "напряжен", "вздут", "безболезненный", "болезненный"]) %>
        <%= map_input @form, :ou, "Живот:optional",
        using: :text_input, class: "small" %>
    </div>

    <div class="radios">
    <span> Почки: </span>
    <div>
    <%= sub_radios(@form, :ou, "Почки", "правая",
        ["непальпируется", "пальпируется", "безболезненная", "болезненная"])
    %>
    </div>
    <div>
    <%= sub_radios(@form, :ou, "Почки", "левая",
        ["непальпируется", "пальпируется", "безболезненная", "болезненная"])
    %>
    </div>
    <div>
    <%= sub_radios(@form, :ou, "Почки", "(с-м поколачивания справа)",
        ["-", "+"])
    %>
    <%= sub_radios(@form, :ou, "Почки", "(с-м поколачивания слева)",
        ["-", "+"])
    %>
    </div>
    </div>

    <div class="radios">
    <%= radios(@form, :ou, "Мочевой пузырь",
        ["непальпируется", "пальпируется", "безболезненный", "болезненный"])
    %>
        <div>
    <%= sub_radios(@form, :ou, "Мочевой пузырь", "паховые л/у",
        ["не увеличены", "безболезненные"])
    %>
        </div>
    </div>

    <div class="radios">
    <%= radios(@form, :ou, "НПО развиты",
        ["нормально", "гипопластичны"]) %>,
        <div>
    <%= sub_radios(@form, :ou, "НПО развиты", "визуально",
        ["неизменены", "изменены"]) %>.
        </div>
    </div>

    <div class="radios">
    <%= radios(@form, :ou, "Оволосение по",
        ["мужскому", "женскому", "смешанному"]) %> типу.
    </div>

    <div class="radios">
    <%= radios(@form, :ou, "Кожа в области НПО",
        ["чистая"]) %>,
    <%= sub_radios(@form, :ou, "Кожа в области НПО", "высыпания",
        ["нет", "есть"]) %>
        <%= map_input @form, :ou, "Кожа в области НПО:высыпания:optional",
        using: :text_input, class: "small" %>
    </div>

    <div class="radios">
    <%= radios(@form, :ou, "Состояние полового члена (препуция)", []) %>
        <%= map_input @form, :ou, "Состояние полового члена (препуция):optional",
        using: :text_input, class: "small" %>
    <%= sub_radios(@form, :ou, "Состояние полового члена (препуция)", "НОУ",
        ["неизменено", "изменено"]) %>
        <%= map_input @form, :ou, "Состояние полового члена (препуция):НОУ:optional",
        using: :text_input, class: "small" %>
    </div>

    <div class="radios">
    <%= radios(@form, :ou, "Губки уретры",
        ["спокойны", "отечны", "гиперемированы"]) %>.
    </div>

    <div class="radios">
    <%= radios(@form, :ou, "Свободные выделения из уретры",
        ["нет"]) %>, есть:
    <%= radios(@form, :ou, "Свободные выделения из уретры",
        ["скудные", "умеренные", "обильные", "слизистые", "гнойные", "молочные"],
        skip_title: true) %>.
    </div>

    <div class="radios">
    <%= radios(@form, :ou, "Мошонка",
        ["асимметрична", "симметрична"]) %>,
    <%= sub_radios(@form, :ou, "Мошонка", "размер",
        ["неувеличена", "увеличена"], skip_title: true) %>:
    <%= sub_radios(@form, :ou, "Мошонка", "размер_положение",
        ["справа", "слева"], skip_title: true) %>;
        <div>
        <span class="sub">яичко:</span>
    <%= sub_radios(@form, :ou, "Мошонка", "яичко",
        ["справа", "слева"], skip_title: true) %>,
    <%= sub_radios(@form, :ou, "Мошонка", "яичко размер",
        ["неувеличено", "увеличено"], skip_title: true) %>,
    <%= sub_radios(@form, :ou, "Мошонка", "яичко состояние",
        ["безболезненно"], skip_title: true) %>.
        </div>
    </div>

    <div class="radios">
    <span> Придаток: </span>
    <div>
    <%= sub_radios(@form, :ou, "Придаток", "справа",
        ["неувеличен", "увеличен", "безболезненный", "болезненный"])
    %>
    </div>
    <div>
    <%= sub_radios(@form, :ou, "Придаток", "слева",
        ["неувеличен", "увеличен", "безболезненный", "болезненный"])
    %>
    </div>
    </div>

    <div class="radios">
    <span> Вены гроздьевидного сплетения: </span>
    <div>
    <%= sub_radios(@form, :ou, "Вены гроздьевидного сплетения", "справа",
        ["нерасширены", "расширены"]) %>
    <%= map_input @form, :ou, "Вены гроздьевидного сплетения:справа:расширены:optional",
    using: :text_input, class: "small", placeholder: "cт" %>
    </div>
    <div>
    <%= sub_radios(@form, :ou, "Вены гроздьевидного сплетения", "слева",
        ["нерасширены", "расширены"]) %>
    <%= map_input @form, :ou, "Вены гроздьевидного сплетения:слева:расширены:optional",
    using: :text_input, class: "small", placeholder: "cт" %>
    </div>
    <div>
    <%= sub_radios(@form, :ou, "Вены гроздьевидного сплетения",
        "предстательная железа", ["неувеличена", "увеличена"]) %>
    </div>
    <div>
    <%= sub_radios(@form, :ou, "Вены гроздьевидного сплетения",
        "мдб", ["сохранена", "сглажена"]) %>
    </div>
    <div>
    <%= sub_radios(@form, :ou, "Вены гроздьевидного сплетения мдб",
        "доли", ["симметричны", "несимметричны"]) %>
    </div>
    <div>
    <%= radios(@form, :ou, "Контуры",
        ["нечеткие", "четкие", "ровные"]) %>,
    </div>
    <%= sub_radios(@form, :ou, "Мошонка", "поверхность",
        ["гладкая", "бугристая"]) %>.
    </div>


    <div class="radios">
    <span> Консистенция: </span>
    <%= radios(@form, :ou, "Консистенция",
        ["мягкая", "туго-эластичная", "тестоватая", "имеются участки уплотнения", "размягчения", "безболезненна", "болезненна", "умеренно", "выражено", "незначительно"], skip_title: true) %>.
    </div>
</div>
  <div>
    <h4 style="display: inline;"> Пациент согласен </h4>
    <%= map_input @form, :fields, "part_3_agreement", using: :checkbox, class: "" %>
</div>
