<div class="partial-visitation" id="part-1">
<h3>Сигнальные отметки</h3>
  <%= map @form, :so, "Группа и Р-принадлежность крови", using: :textarea %>
  <%= map @form, :so, "Аллергия", using: :textarea %>
  <%= map @form, :so, "Тип реакции", using: :textarea %>
  <%= map @form, :so, "Переливание крови(когда, сколько)", using: :textarea %>
  <%= map @form, :so, "Прививки (когда,какие)", using: :textarea %>
  <%= map @form, :so, "Реакция", using: :textarea %>
  <%= map @form, :so, "Хирургические вмешательства", using: :textarea %>
  <%= map @form, :so, "Инфекционные заболевания", using: :textarea %>
  <%= map @form, :so, "Обратился с целью", using: :textarea %>
  <div>
    <h4 style="display: inline;"> Пациент согласен </h4>
    <%= map_input @form, :fields, "part_1_agreement", using: :checkbox, class: "" %>
  </div>
</div>
