<div id="part-4" class="partial-visitation">
  <h3> Заключение </h3>
  <% mkbs = prepare_mkbs(His.Patients.Mkb.list_mkbs) %>
  <%= list @form, :zk, "Предварительный диагноз", mkbs, select: [class: "big"] %>
  <%= map @form, :zk, "Рекомендовано", using: :textarea %>
  <%= map @form, :zk, "Подробнее", using: :textarea %>
  <div>
    <h4 style="display: inline;"> Пациент согласен </h4>
    <%= map_input @form, :fields, "part_4_agreement", using: :checkbox, class: "" %>
  </div>
  <label> Назначение повторного приема
    <%= datetime_select @form, :next_visit_at, year: [options: 2017..2020]%>
  </label>
</div>
