<div id="part-2" class="partial-visitation">
  <%= map @form, :ab, "Анамнез", using: :textarea %>
  <p> Менархе с <%= map_input @form, :ab, "menarhe_from", using: :text_input , class: "small" %> лет,
    установились <%= map_input @form, :ab, "menarge_ustanov", using: :text_input , class: "" %>
    через <%= map_input @form, :ab, "menarhe_cherez", using: :text_input , class: "small" %> дней,
    по <%= map_input @form, :ab, "menarhe_po", using: :text_input , class: "small" %> дней.
    <br />
    ПНМ <%= map_input @form, :ab, "menarhe_pnm", using: :text_input , class: "" %>
    Характер <%= map_input @form, :ab, "menarhe_haracter", using: :text_input , class: "" %>.
    <%= map @form, :ab, "Нарушение менструальной функции" %>
  </p>
  <p>
    Половая жизнь с <%= map_input @form, :ab, "pol_s", using: :text_input , class: "" %> лет,
    брак <%= map_input @form, :ab, "brak", using: :text_input , class: "" %>,
    мужу <%= map_input @form, :ab, "mujy_let", using: :text_input , class: "" %> лет.
  </p>
  <%= map @form, :ab, "Состояние здоровья мужа", using: :textarea %>
  <%= map @form, :ab, "Особенности половой жизни", using: :textarea %>
  <%= map @form, :ab, "Контрацепция", using: :textarea %>
  <%= map @form, :ab, "Беременности", using: :textarea %>
  <%= map @form, :ab, "Гинекологические заболевания", using: :textarea %>
  <%= map @form, :ab, "Соматические заболевания", using: :textarea %>
  <%= map @form, :ab, "Наследственность", using: :textarea %>
  <div>
    <h4 style="display: inline;"> Пациент согласен </h4>
    <%= map_input @form, :fields, "part_2_agreement", using: :checkbox, class: "" %>
  </div>
</div>
