<% data = prepare_for_print(@visitation) %>

<%= render_if_exists :so, data, fn group -> %>
    <%= render_if_exists "Группа и Р-принадлежность крови", group %>
    <%= render_if_exists "Аллергия", group %>
    <%= render_if_exists "Тип реакции", group %>
    <%= render_if_exists "Переливание крови(когда, сколько)", group %>
    <%= render_if_exists "Прививки (когда,какие)", group %>
    <%= render_if_exists "Реакция", group %>
    <%= render_if_exists "Хирургические вмешательства", group %>
    <%= render_if_exists "Инфекционные заболевания", group %>
    <%= render_if_exists "Обратился с целью", group %>
<% end %>

<%= render_if_exists :ab, data, fn group -> %>
    <%= render_if_exists "Анамнез", group %>
    <p>
        <%= render_if_exists "menarhe_from", group, "Менархе с {} лет, " %>
        <%= render_if_exists "menarhe_ustanov", group, "установилaсь {}" %>
        <%= render_if_exists "menarhe_cherez", group, "через {} дней," %>
        <%= render_if_exists "menarhe_po", group, "по {} дней." %>
        <%= render_if_exists "menarhe_pnm", group, "ПНМ {}." %>
        <%= render_if_exists "menarhe_haracter", group, "Характер {}" %>
    </p>
    <%= render_if_exists "Нарушение менструальной функции", group %>
    <%= render_if_exists "Состояние здоровья мужа", group %>
    <%= render_if_exists "Особенности половой жизни", group %>
    <%= render_if_exists "Контрацепция", group %>
    <%= render_if_exists "Беременности", group %>
    <%= render_if_exists "Гинекологические заболевания", group %>
    <%= render_if_exists "Соматические заболевания", group %>
    <%= render_if_exists "Наследственность", group %>
<% end %>

<%= render_if_exists :ds, data, fn group -> %>
    <p>
        <%= render_if_exists "Рост", group, "Рост {} см., " %>
        <%= render_if_exists "вес", group, "вес {} кг.," %>
        <%= render_if_exists "ИМТ", group, "ИМТ {}," %>
        <%= render_if_exists "Пульс", group, "Пульс {} уд. в мин.," %>
        <%= render_if_exists "А/Д", group, "А/Д {} мм.рт.ст." %>
        <%= render_if_exists "t С", group, "tC° {}." %>
    </p>
    <%= render_if_exists "Особенности телосложения", group %>
    <%= render_if_exists "Кожные покровы", group %>
    <%= render_if_exists "Язык (не) обложен", group %>
    <%= render_if_exists "лимфоузлы (не) увеличены ", group %>
    <%= render_if_exists "Дыхание", group %>
    <%= render_if_exists "Хрипы", group %>
    <%= render_if_exists "Живот при пальпации", group %>
    <%= render_if_exists "С-м Пастернацкого", group %>
    <%= render_if_exists "Гирсутизм", group %>
    <%= render_if_exists "Гирсутное число", group %>
    <%= render_if_exists "Особенности", group %>
    <%= render_if_exists "Молочные железы", group %>
<% end %>

<%= render_if_exists :sg, data, fn group -> %>
    <%= render_if_exists "Фаза менструального цикла", group %>
    <%= render_if_exists "Фаза менструального цикла день", group, "(день {})"%>
    <%= render_if_exists "Наружные половые органы", group %>
    <%= render_if_exists "Слизистая vag.", group %>
    <%= render_if_exists "Шейка матки", group %>
    <%= render_if_exists "С-м зрачка", group %>
    <%= render_if_exists "Тело матки: положение", group %>
    <%= render_if_exists "Тело матки: размеры", group %>
    <%= render_if_exists "Консистенция", group %>
    <%= render_if_exists "поверхность", group %>
    <%= render_if_exists "Подвижность", group %>
    <%= render_if_exists "болезненность", group %>
    <%= render_if_exists "Область придатков: OD", group %>
    <%= render_if_exists "Область придатков: OS", group %>
    <%= render_if_exists "Своды vag.", group %>
    <%= render_if_exists "Выделения", group %>
    <%= render_if_exists "Ректо-вагинальное исследование: ампула rectum", group %>
    <%= render_if_exists "Ректо-вагинальная перегородка", group %>
<% end %>

<%= render_if_exists :ou, data, fn group -> %>
    <p>
        <%= render_if_exists "Рост", group, "Рост {} см., " %>
        <%= render_if_exists "вес", group, "вес {} кг.," %>
        <%= render_if_exists "ИМТ", group, "ИМТ {}," %>
        <%= render_if_exists "Пульс", group, "Пульс {} уд. в мин.," %>
        <%= render_if_exists "ОТ", group %>
        <%= render_if_exists "t С", group, "tC° {}." %>
    </p>

    <%= render_if_exists "Общее состояние", group %>

    <p>
    <%= render_if_exists "Кожные покровы, видимые слизистые оболочки окраски", group %>
    <%= render_if_exists "Кожные покровы, видимые слизистые оболочки окраски:высыпания", group,
        "высыпания {}," %>
    <%= render_if_exists "Кожные покровы, видимые слизистые оболочки окраски:высыпания:optional", group,
        "{}" %>
    </p>

    <p>
    <%= render_if_exists "Живот", group %>
    <%= render_if_exists "Живот:optional", group, "{}" %>
    </p>

    <p>
    <strong> Почки: </strong>
    <%= render_if_exists "Почки:правая", group, "правая - {}," %>
    <%= render_if_exists "Почки:левая", group, "левая - {}" %>
    <%= render_if_exists "Почки:(с-м поколачивания справа)", group, "с-м поколачивания справа {}," %>
    <%= render_if_exists "Почки:(с-м поколачивания слева)", group, "с-м поколачивания слева {}," %>
    </p>

    <p>
    <%= render_if_exists "Мочевой пузырь", group %>
    <%= render_if_exists "Мочевой пузырь:паховые л/у", group, "паховые л/у - {}" %>
    </p>

    <p>
    <%= render_if_exists "НПО развиты", group %>
    <%= render_if_exists "НПО развиты:визуально", group, "визуально {}" %>
    </p>

    <p>
    <%= render_if_exists "Оволосение по", group, "{} типу" %>
    </p>

    <p>
    <%= render_if_exists "Кожа в области НПО", group %>
    <%= render_if_exists "Кожа в области НПО:высыпания", group, "высыпания - {}," %>
    <%= render_if_exists "Кожа в области НПО:высыпания:optional", group, "{}" %>
    </p>

    <p>
    <strong> Состояние полового члена (препуция): </strong>
    <%= render_if_exists "Состояние полового члена (препуция):optional", group, "{}," %>
    <%= render_if_exists "Состояние полового члена (препуция):НОУ", group, "НОУ - {}," %>
    <%= render_if_exists "Состояние полового члена (препуция):НОУ:optional", group, "{}" %>
    </p>

    <p>
    <%= render_if_exists "Губки уретры", group %>
    </p>

    <p>
    <%= render_if_exists "Свободные выделения из уретры", group %>
    </p>

    <p>
    <%= render_if_exists "Мошонка", group %>
    <%= render_if_exists "Мошонка:размер", group, "размер - {}," %>
    <%= render_if_exists "Мошонка:размер_положение", group, "положение - {}," %>
    <strong>яичко:</strong>
    <%= render_if_exists "Мошонка:яичко", group, "{}," %>
    <%= render_if_exists "Мошонка:яичко размер", group, "размер - {}," %>
    <%= render_if_exists "Мошонка:яичко состояние", group, "состояние - {}" %>
    </p>

    <p>
    <strong>Придаток:</strong>
    <%= render_if_exists "Придаток:справа", group, "справа - {}," %>
    <%= render_if_exists "Придаток:слева", group, "слева - {}," %>
    </p>

    <p>
    <strong>Вены гроздьевидного сплетения:</strong>
    <%= render_if_exists "Вены гроздьевидного сплетения:справа", group, "справа - {}," %>
    <%= render_if_exists "Вены гроздьевидного сплетения:справа:расширены:optional", group, "{} ст.," %>
    <%= render_if_exists "Вены гроздьевидного сплетения:слева", group, "слева  - {}," %>
    <%= render_if_exists "Вены гроздьевидного сплетения:слева:расширены:optional", group, "{} ст.," %>
    <%= render_if_exists "Вены гроздьевидного сплетения:предстательная железа", group,
        "предстательная железа  - {}," %>
    <%= render_if_exists "Вены гроздьевидного сплетения:мдб", group,
        "мдб  - {}," %>
    <%= render_if_exists "Вены гроздьевидного сплетения:доли", group,
        "доли  - {}," %>
    <%= render_if_exists "Контуры", group, "контуры - {}," %>
    <%= render_if_exists "Мошонка:поверхность", group, "поверхность - {}" %>
    </p>

    <p>
    <%= render_if_exists "Консистенция", group %>
    </p>
<% end %>

<%= render_if_exists :zk, data, fn group -> %>
    <%= render_if_exists "Предварительный диагноз", group %>
    <%= render_if_exists "Рекомендовано", group %>
    <%= render_if_exists "Подробнее", group %>
    <%= render_if_exists "Анамнез", group %>
<% end %>

<%= render_if_exists :jb, data, fn group -> %>
    <%= render_if_exists "Специалист", group %>
    <%= render_if_exists "Жалобы", group %>
    <%= render_if_exists "Объективные данные", group %>
    <%= render_if_exists "Диагноз основного заболевания", group %>
    <%= render_if_exists "Осложнения", group %>
    <%= render_if_exists "Сопутствующие заболевания", group %>
    <%= render_if_exists "Данные наблюдения в динамике", group %>
    <%= render_if_exists "Рекомендации", group %>
    <%= render_if_exists "Назначения", group %>
<% end %>

<%= render_if_exists :po, data, fn group -> %>
    <%= render_if_exists "План обследования", group %>
    <p>
    <strong> Лечение: </strong>
    <%= render_if_exists "Лечение:режим", group, "режим - {}," %>
    <%= render_if_exists "Лечение:1", group, " {}," %>
    <%= render_if_exists "Лечение:2", group, " {}," %>
    <%= render_if_exists "Лечение:3", group, " {}," %>
    <%= render_if_exists "Лечение:4", group, " {}," %>
    <%= render_if_exists "Лечение:5", group, " {}." %>
    </p>
<% end %>


