<h2>Show Visitation</h2>

<ul>

  <li>
    <strong>First:</strong>
    <%= @visitation.first %>
  </li>

</ul>

<span><%= link "Edit", to: patient_visitation_path(@conn, :edit, @patient, @visitation) %></span>
<span><%= link "Back", to: patient_visitation_path(@conn, :index, @patient) %></span>
