<h6 style="text-align: center; margin-top: 0; padding-top: 0;">Договор на оказание платных медицинских услуг</h6>
<div dir="ltr">
                    <p dir="ltr" style="display: inline-block;">
                        г. Иркутск
                    </p>
                    <p dir="ltr" style="text-align: right; display: inline-block; float: right;">
                        <%= today() %>
                    </p>
</div>
<p dir="ltr">
    Общество с ограниченной ответственностью «МедДиагностика-2» (ОГРН
    1133850021755, ИНН 3811168031), находящееся по адресу: г.Иркутск,
    ул.Омулевского, д.2, именуемое в дальнейшем "Исполнитель", в лице директора
    Нероновой Натальи Анатольевны, действующей на основании Устава, с одной
    стороны,
    и <%= lfm(@patient) %>
    именуемый в дальнейшем "Потребитель", с другой стороны, а вместе именуемые
    "Стороны", заключили настоящий договор о нижеследующем:
</p>
<br/>
<h6 style="text-align: center">1. Предмет договора</h6>
<p dir="ltr">
    1.1. По настоящему Договору Исполнитель предоставляет Потребителю
    медицинские услуги по своему профилю деятельности в соответствии с выданной
    лицензией на осуществление медицинской деятельности (Лицензия №
    38-01-002070(1) от 06.04.2015 г., выдана Министерством Здравоохранения
    Иркутской Области, г. Иркутск, ул. Карла Маркса, д. 29, тел. 28-03-26),
    согласно Прейскуранту цен (тарифов) на медицинские услуги (далее –
    Прейскурант), утвержденному в установленном порядке, а Потребитель
    (Заказчик) обязуется оплатить оказанные услуги.
</p>
<p dir="ltr">
    1.2. Предоставление медицинских услуг по настоящему Договору осуществляется
    при наличии информированного добровольного согласия Потребителя (законного
    представителя Потребителя), данного в порядке, установленном
    законодательством Российской Федерации об охране здоровья граждан.
</p>
<p dir="ltr">
    1.3. <a href="">Перечень</a> платных медицинских услуг, предоставляемых по
    настоящему договору, определяется в направительном бланке (в случае если в
    перечень медицинских услуг, подлежащих предоставлению в соответствии с
    настоящим договором, входит проведение обследования на ВИЧ-инфекцию,
    настоящий договор считается заключенным при условии подписания Пациентом
    информационного согласия).
</p>
<p dir="ltr">
    1.4. Срок оказания медицинских услуг: до______________________.
</p>
<p dir="ltr">
    1.5. Исполнитель после исполнения настоящего договора по запросу выдает
    Потребителю (законному представителю потребителя) его медицинские документы
    (копии медицинских документов, выписки из медицинских документов и т.д.).
</p>
<p dir="ltr">
    1.6. Потребитель подтверждает, что на момент подписания настоящего договора
    Исполнитель в доступной для Потребителя форме:
</p>
<p dir="ltr">
    1.6.1. Ознакомил его с Правилами предоставления медицинскими организациями
    платных медицинских услуг (Постановление Правительства РФ от 4.10.2012
    №1006)
</p>
<p dir="ltr">
    1.6.2. Уведомил его (Потребителя) о том, что несоблюдение указаний
    (рекомендаций) Исполнителя (медицинского работника, предоставляющего
    платную медицинскую услугу), в том числе назначенного режима лечения, может
    снизить качество предоставляемой платной медицинской услуги, повлечь за
    собой невозможность её завершения в срок или отрицательно сказаться на
    состоянии здоровья Потребителя.
</p>
<p dir="ltr">
    1.6.3. Ознакомил его с действующим в медицинской организации Прейскурантом
    цен (тарифов) на медицинские услуги, утвержденным в установленном порядке;
</p>
<p dir="ltr">
    1.6.4. Уведомил его о возможности получения соответствующих видов и объемов
    медицинской помощи в медицинских организациях РФ без взимания платы в
    рамках программы государственных гарантий бесплатного оказания гражданам
    медицинской помощи и территориальной программы государственных гарантий
    бесплатного оказания гражданам медицинской помощи в Иркутской области.
</p>
<h6 style="text-align: center">2. Права и обязанности сторон</h6>
<p dir="ltr">
    2.1. Исполнитель обязуется:
</p>
<p dir="ltr">
    2.1.1. Осуществлять Потребителю платные медицинские услуги в соответствии с    <a href="">Перечнем</a> оказываемых пациенту платных медицинских услуг,
    качество которых должно соответствовать требованиям, предъявляемым к
    услугам соответствующего вида.
</p>
<p dir="ltr">
    2.1.2. Оказывать медицинские услуги в полном объеме в соответствии с
    настоящим договором после внесения Потребителем денежных средств в порядке,
    определенном разделом 3 настоящего договора, и предоставления документов,
    подтверждающих оплату; с соблюдением <a href="">порядков</a> оказания
    медицинской помощи и стандартов медицинской помощи, утвержденных МЗ РФ.
</p>
<p dir="ltr">
    2.1.3. Предупреждать Потребителя в случае необходимости предоставления
    дополнительных платных медицинских услуг на возмездной основе, не
    предусмотренных договором. Дополнительные медицинские услуги при
    необходимости их оказания предоставляются на основании дополнительного
    соглашения к настоящему договору, в иных случаях - на основании отдельно
    заключаемого договора при условии согласия Потребителя.
</p>
<p dir="ltr">
    2.1.4. По требованию Потребителя предоставить ему в доступной форме
    информацию о платных медицинских услугах, содержащую следующие сведения:
</p>
<p dir="ltr">
    - порядки оказания медицинской помощи и стандарты медицинской помощи,
    применяемые при предоставлении платных медицинских услуг;
</p>
<p dir="ltr">
    - информацию о конкретном медицинском работнике, предоставляющем
    соответствующую платную медицинскую услугу (его профессиональном
    образовании и квалификации);
</p>
<p dir="ltr">
    - информацию о методах оказания медицинской помощи, связанных с ними
    рисках, возможных видах медицинского вмешательства, их последствиях и
    ожидаемых результатах оказания медицинской помощи;
</p>
<p dir="ltr">
    - другие сведения, относящиеся к предмету настоящего договора.
</p>
<p dir="ltr">
    2.1.5. Исполнитель предоставляет Потребителю (законному представителю
    потребителя) по его требованию и в доступной для него форме информацию:
</p>
<p dir="ltr">
    - о состоянии его здоровья, включая сведения о результатах обследования,
    диагнозе, методах лечения, связанных с ним рисках, возможных вариантах и
    последствиях медицинского вмешательства, ожидаемых результатах лечения;
</p>
<p dir="ltr">
    - об используемых при предоставлении платных медицинских услуг
    лекарственных средствах и медицинских изделиях, в том числе о сроках их
    годности, показаниях, противопоказаниях к применению.
</p>
<p dir="ltr">
    2.1.6. Обеспечить участие высококвалифицированного медицинского персонала
    для предоставления медицинских услуг по настоящему договору.
</p>
<p dir="ltr">
    2.1.7. Вести всю необходимую медицинскую документацию в установленном
    действующим законодательством порядке, вести учет видов, объемов, стоимости
    оказанных Потребителю услуг, а также денежных средств, поступивших от
    Потребителя.
</p>
<p dir="ltr">
    2.1.8.Немедленно извещать Потребителя о невозможности оказания необходимой
    медицинской помощи по настоящему договору либо о возникших обстоятельствах,
    которые могут привести к сокращению объема оказываемых медицинских услуг,
    что оформляется соглашением, являющимся неотъемлемой частью настоящего
    договора.
</p>
<p dir="ltr">
    2.2. Исполнитель вправе отказаться от исполнения настоящего договора в
    случае невыполнения Потребителем рекомендаций медицинского работника,
    предоставляющего платную медицинскую услугу, а также в случае выявления
    противопоказаний к оказываемым услугам.
</p>
<p dir="ltr">
    2.3. Потребитель обязуется:
</p>
<p dir="ltr">
    2.3.1.Оплатить услуги, оказываемые Исполнителем. Стоимость услуг
    определяется согласно Прейскуранту Исполнителя, действующего на момент
    оказания услуги.
</p>
<p dir="ltr">
    2.3.2.Предоставить Исполнителю данные исследований и консультаций
    специалистов, проведенных вне медицинской организации Исполнителя (при их
    наличии), а также сообщить все известные сведения о состоянии своего
    здоровья и близких родственников, в том числе об аллергических реакциях на
    лекарственные средства, о заболеваниях и иных факторах, которые могут
    повлиять на диагностику и лечение.
</p>
<p dir="ltr">
    2.3.3.Ознакомиться с порядком и условиями предоставления медицинских услуг
    по настоящему договору.
</p>
<p dir="ltr">
    2.3.4.Выполнять все медицинские предписания, назначения, режим лечения,
    рекомендации Исполнителя (медицинского работника, предоставляющего платную
    медицинскую услугу).
</p>
<p dir="ltr">
    2.4. Потребитель имеет право:
</p>
<p dir="ltr">
    2.4.1.Получать информацию об Исполнителе и предоставляемых им медицинских
    услугах.
</p>
<p dir="ltr">
    2.4.2.На выбор медицинского сотрудника, оказывающего необходимые
    медицинские услуги.
</p>
<p dir="ltr">
    2.4.3.Отказаться от исполнения настоящего договора при условии оплаты
    Исполнителю фактически понесенных им расходов. В случае отказа потребителя
    после заключения договора от получения медицинских услуг договор
    расторгается. Исполнитель информирует Потребителя о расторжении договора по
    инициативе потребителя, при этом Потребитель оплачивает исполнителю
    фактически понесенные исполнителем расходы, связанные с исполнением
    обязательств по договору.
</p>
<h6 style="text-align: center">3. Стоимость медицинских услуг и порядок расчетов</h6>
<p dir="ltr">
    3.1. Стоимость услуг, оказываемых по настоящему договору, определяется по
    ценам в соответствии с действующим Прейскурантом платных медицинских услуг,
    утвержденным Исполнителем. Потребителю в соответствии с законодательством
    РФ выдается документ, подтверждающий произведенную оплату предоставленных
    медицинских услуг (контрольно-кассовый чек или квитанция). Потребитель
    осуществляет 100% предоплату медицинских услуг наличными денежными
    средствами в кассу Исполнителя либо с использованием платежных банковских
    карт в день заключения настоящего Договора.
</p>
<p dir="ltr">
    3.2. В случае заключения дополнительного соглашения или отдельного договора
    на предоставление дополнительных медицинских услуг согласно п. 2.1.3.
    договора их стоимость определяется по Прейскуранту платных медицинских
    услуг, действующего на момент заключения дополнительного соглашения или
    отдельного договора.
</p>
<p dir="ltr">
    3.3. В случае если по каким-либо причинам, не зависящим от волеизъявления
    Сторон, объем оказываемых Потребителю услуг, предусмотренный настоящим
    договором, сократится, либо оказание услуг в рамках настоящего договора на
    каком-либо этапе лечения окажется невозможным, Стороны подписывают
    соглашение, являющееся неотъемлемой частью настоящего договора, при этом с
    Потребителя удерживается сумма за фактически оказанные услуги. Остаток
    суммы, уплаченный Потребителем по настоящему договору, возвращается ему в
    момент окончательных расчетов.
</p>
<p dir="ltr">
    3.4. В случае невозможности исполнения Исполнителем обязательств по
    настоящему договору, возникшей по вине Потребителя, в том числе при
    несоблюдении им медицинских предписаний, оплата медицинских услуг
    осуществляется в полном объеме.
</p>
<h6 style="text-align: center">4. Ответственность сторон</h6>
<p dir="ltr">
    4.1. За неисполнение либо ненадлежащее исполнение обязательств по договору
    Исполнитель несет ответственность, предусмотренную    <a href="">законодательством</a> РФ.
</p>
<p dir="ltr">
    4.2. Вред, причиненный жизни или здоровью Потребителя в результате
    предоставления некачественной платной медицинской услуги, подлежит
    возмещению Исполнителем в соответствии с законодательством РФ.
</p>
<p dir="ltr">
    4.3. Исполнитель не несет ответственности за оказание услуг в неполном либо
    меньшем объеме, чем предусмотрено настоящим договором, в случаях
    предоставления Потребителем неполной информации о своем здоровье в
    соответствии с п. 2.3.2. настоящего договора либо вызванных медицинскими
    показаниями, а также в случаях, предусмотренных 2.3.4 и 3.4 настоящего
    договора.
</p>
<p dir="ltr">
    (1)Перечень услуг, осуществляемых согласно лиц. № 38-01-002070 от
    6.04.2015: при оказании первичной, в том числе доврачебной, врачебной и
    специализированной, медико-санитарной помощи организуются и выполняются
    следующие работы (услуги): при оказании первичной доврачебной
    медико-санитарной помощи в амбулаторных условиях по: акушерскому делу,
    сестринскому делу; при оказании первичной специализированной
    медико-санитарной помощи в амбулаторных условиях по: акушерству и
    гинекологии (за исключением использования вспомогательных репродуктивных
    технологий), дерматовенерологии, организации здравоохранения и
    общественному здоровью, ультразвуковой диагностике, урологии. При
    проведении медицинских осмотров, медицинских освидетельствований и
    медицинских экспертиз организуются и выполняются следующие работы (услуги):
    при проведении медицинских экспертиз по: экспертизе качества медицинской
    помощи.
</p>
<br/>
<br/>
<p dir="ltr">
    4.4. Стороны освобождаются от ответственности за частичное или полное
    неисполнение либо ненадлежащее исполнение своих обязательств по настоящему
    договору, если это неисполнение явилось следствием форс-мажорных
    обстоятельств (стихийные бедствия, эпидемии, военные действия, забастовки и
    т. п.), препятствующих выполнению обязательств по настоящему договору.
</p>
<h6 style="text-align: center">5. Конфиденциальность</h6>
<p dir="ltr">
    5.1. Стороны берут на себя взаимные обязательства по соблюдению режима
    конфиденциальности в отношении информации, полученной при исполнении
    настоящего договора.
</p>
<p dir="ltr">
    5.2. Исполнитель обязуется хранить в тайне информацию о факте обращения
    Потребителя за оказанием платных медицинских услуг, состоянии его здоровья,
    диагнозе его заболевания и иные сведения, полученные при его обследовании и
    лечении (врачебная тайна).
</p>
<h6 style="text-align: center">6. Заключительные положения</h6>
<p dir="ltr">
    6.1. До заключения настоящего договора Исполнитель в письменной форме
    уведомил Потребителя о том, что несоблюдение указаний (рекомендаций)
    Исполнителя (медицинского работника, предоставляющего платную медицинскую
    услугу), в том числе назначенного режима лечения, могут снизить качество
    предоставляемой платной медицинской услуги, повлечь за собой невозможность
    ее завершения в срок или отрицательно сказаться на состоянии здоровья
    Потребителя.
</p>
<p dir="ltr">
    6.2. Настоящий договор вступает в силу с момента его заключения и действует
    до полного исполнения обязательств Сторонами.
</p>
<p dir="ltr">
    6.3. Потребитель вправе отказаться от исполнения настоящего договора при
    условии оплаты Исполнителю фактически понесенных им расходов, связанных с
    исполнением обязательств по настоящему договору.
</p>
<p dir="ltr">
    6.4. Настоящий договор составлен в двух экземплярах, по одному для каждой
    из Сторон. Во всем, что не предусмотрено настоящим договором, Стороны
    руководствуются действующим законодательством РФ.
</p>
<br/>
<br/>
<p dir="ltr" style="text-align: center; text-decoration: underline;">
    ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ ЛИЦА на медицинское вмешательство
</p>
<p dir="ltr">
    Потребитель настоящим дает свое добровольное согласие Исполнителю на
    осуществление медицинских манипуляций, выполняемых Исполнителем по
    отношению к Потребителю. Потребитель подтверждает, что ознакомлен с
    характером каждой предстоящей процедуры, и вправе требовать ее прекращения;
    а также осознает, что медицинские манипуляции сопряжены с возможностью
    непреднамеренного причинения вреда здоровью; что получил рекомендации
    сотрудника Исполнителя о режиме, который необходимо соблюдать после
    проведения процедуры, что ознакомлен с возможными осложнениями, которые
    могут возникнуть в случае нарушения рекомендаций Исполнителя, а также
    порядке действий в случае возникновения осложнений; что имел возможность
    задавать сотруднику Исполнителя любые вопросы и на все вопросы получил
    исчерпывающие ответы; что поставил в известность сотрудника Исполнителя,
    осуществляющего проведение процедуры, обо всех проблемах, связанных со
    здоровьем, в том числе об аллергических проявлениях или индивидуальной
    непереносимости медицинских препаратов, в том числе йода, спирта; что
    ознакомлен и согласен со всеми пунктами подписываемого документа, положения
    которого разъяснены и поняты им.
</p>
<br/>
<p dir="ltr" style="text-align: center; text-decoration: underline;">
    ИНФОРМИРОВАННОЕ СОГЛАСИЕ на сбор, хранение, обработку и использование
    персональных данных
</p>
<p dir="ltr">
    Потребитель настоящим свободно, своей волей и в своём интересе соглашается
    с тем, что Исполнитель в целях оптимизации порядка предоставления
    медицинских услуг в течение 10 лет с момента подписания настоящего
    документа Потребителем вправе осуществлять сбор и обработку персональных
    данных Потребителя, вносить в автоматизированные системы хранения и
    обработки данных, используемые Исполнителем (в том числе путем считывания
    устройством Исполнителя информации с магнитной ленты карты
    (кредитной/расчётной), используемой Потребителем на законных основаниях;
    вносить эти данные на формы направительных бланков, используемых
    Исполнителем для оказания медицинских услуг; хранить персональные данные
    Потребителя (как на бумажных носителях так и/или с использованием
    автоматической системы хранения и обработки данных); использовать его
    персональные данные (в том числе в целях продвижения товаров, работ и услуг
    на рынке и/или исключительно для автоматизированной обработки персональных
    данных (автоматизированная обработка персональных данных осуществляется
    Исполнителем с использованием средств вычислительной техники,
    осуществляющей на основании совокупности внесенной информации принятие
    решений, например, для идентификации Потребителя и/или размера
    предоставляемой скидки); предоставление персональных данных Потребителем
    третьим лицам, привлечённым Исполнителем к оказанию медицинских услуг (при
    условии соблюдения режима конфиденциальности). К персональным данным,
    которые Исполнитель вправе собирать, хранить, использовать и предоставлять
    третьим лицам, привлеченным к оказанию медицинских услуг, относятся:
    персональные данные о состоянии здоровья Потребителя; сведения, которые
    характеризуют физиологические и биологические особенности Потребителя, на
    основе которых можно установить личность Потребителя (биометрические
    персональные данные); сведения, которые характеризуют Потребителя как
    субъекта гражданских правоотношений (реквизиты документа, удостоверяющего
    личность, номер банковской карты и т.д.). Потребитель уведомлен о том, что
    он вправе получать в доступной форме информацию, касающуюся обработки его
    персональных данных, в том числе содержащую: подтверждение факта обработки
    персональных данных Исполнителем; правовые основания и цели обработки
    персональных данных; цели и применяемые способы обработки персональных
    данных; наименование и место нахождения Исполнителя, сведения о лицах (за
    исключением работников Исполнителя), которые имеют доступ к персональным
    данным или которым могут быть раскрыты персональные данные на основании
    договора с Исполнителем, или на ином законном основании; обрабатываемые
    персональные данные, относящиеся к Потребителю, источник их получения, если
    иной порядок представления таких данных не предусмотрен действующим
    законодательством; сроки обработки и хранения персональных данных, порядок
    осуществления Исполнителем прав, предусмотренных действующим
    законодательством; информацию об осуществленной или о предполагаемой
    трансграничной передаче данных; наименование и адрес лица, осуществляющего
    обработку персональных данных по поручению Исполнителя, если обработка
    поручена или будет поручена такому лицу; иные сведения, предоставление
    которых предусмотрено действующим законодательством; требовать от
    Исполнителя уточнения его персональных данных, их блокирования или
    уничтожения в случае, если персональные данные являются неполными,
    устаревшими, неточными, незаконно полученными или не являются необходимыми
    для заявленной цели обработки, а также принимать предусмотренные законом
    меры по защите своих прав; заявить возражения против решения Исполнителя,
    принятого на основании исключительно автоматизированной обработки
    персональных данных (при этом о результатах рассмотрения возражений
    Исполнитель должен уведомить Потребителя в течение 30 дней с момента
    получения возражений); обжаловать действия или бездействия в уполномоченный
    орган или в судебном порядке; защищать свои права и законные интересы, в
    том числе требовать возмещения убытков и компенсации морального вреда в
    суде; в любой момент отозвать настоящее согласие путем направления
    Исполнителю запроса на отзыв согласия Потребителя на обработку его
    персональных данных. Запрос должен содержать номер основного документа,
    удостоверяющего личность Потребителя или его представителя, сведения о дате
    выдачи указанного документа и выдавшем его органе, сведения, подтверждающие
    участие Потребителя в отношениях с Исполнителем (номер договора, дата
    заключения), либо сведения, иным образом подтверждающие факт обработки
    персональных данных Исполнителем, подпись Потребителя или его
    представителя. Исполнитель вправе принимать решение на основании
    исключительно автоматизированной обработки персональных данных Потребителя
    об идентификации его в системе учёта предоставляемых Исполнителем, в том
    числе в целях реализации мероприятий, направленных на поощрение
    потребителей его услуг. Исполнитель должен: в срок, не превышающий 7
    рабочих дней, внести в персональные данные Исполнителя изменения,
    уничтожить или заблокировать их в случае предоставления Потребителем или
    его законным представителем сведений, подтверждающих, что обрабатываемые
    персональные данные являются неполными, неточными, неактуальными, незаконно
    полученными или не являются необходимыми для целей обработки, перечисленных
    в настоящем документе, и уведомить Потребителя или его законного
    представителя, а также третьих лиц, которым персональные данные Потребителя
    были переданы, о внесенных изменениях и/или предпринятых мерах; в случае
    выявления неточных персональных данных или неправомерных действий с ними
    при обращении или по запросу Потребителя или его законного представителя
    либо уполномоченного органа по защите прав субъектов персональных данных -
    осуществить блокирование персональных данных, относящихся к Потребителю, с
    момента такого обращения или получения такого запроса на период проверки; в
    случае выявления неправомерных действий с персональными данными - в срок,
    не превышающий 3х рабочих дней с даты такого выявления, устранить
    допущенные нарушения. В случае невозможности устранения допущенных
    нарушений в срок, не превышающий 10 рабочих дней с даты выявления
    неправомерности действий с персональными данными, Исполнитель обязан
    уничтожить персональные данные. Об устранении допущенных нарушений или об
    уничтожении персональных данных Исполнитель обязан уведомить Потребителя
    или его законного представителя, а в случае, если обращение или запрос были
    направлены уполномоченным органом по защите прав субъектов персональных
    данных, - также в указанный орган; в случае отзыва Потребителем согласия на
    обработку своих персональных данных прекратить обработку и уничтожить
    персональные данные в срок, не превышающий 30 дней с даты поступления
    указанного отзыва, если иное не предусмотрено соглашением между
    Исполнителем и Потребителем.
</p>
<h6 style="text-align: center">7. Реквизиты и подписи сторон</h6>
<div dir="ltr">
    <table style="border-bottom: none;">
        <colgroup>
            <col width="339"/>
            <col width="399"/>
        </colgroup>
        <tbody>
            <tr>
                <td>
                    <p dir="ltr">
                        Исполнитель
                    </p>
                    <br/>
                    <p dir="ltr">
                        ООО «МедДиагностика -2»
                    </p>
                    <p dir="ltr">
                        Юр. адрес: 664009, г .Иркутск, ул. Омулевского, д.2
                    </p>
                    <p dir="ltr">
                        ИНН/КПП 3811168031/381101001
                    </p>
                    <p dir="ltr">
                        ОГРН 1133850021755
                    </p>
                    <p dir="ltr">
                        Р/с 40702810418350001375
                    </p>
                    <p dir="ltr">
                        В Байкальском Банке Сбербанка РФ
                    </p>
                    <p dir="ltr">
                        БИК 042520607
                    </p>
                    <p dir="ltr">
                        к/с 30101810900000000607
                    </p>
                    <p dir="ltr">
                        Директор ООО «МедДиагностика-2»
                    </p>
                    <br/>
                    <p dir="ltr">
                        _____________________Н.А.&nbsp;Неронова
                    </p>
                    <br/>
                    <br/>
                </td>
                <td>
                    <p dir="ltr">
                        Потребитель
                    </p>
                    <p dir="ltr">
                        ФИО: <%= lfm(@patient) %>
                    </p>
                    <p dir="ltr">
                        Адрес места жительства: <%= @patient.address %>
                    </p>
                    <p dir="ltr">
                        Контактный телефон: <%= @patient.phone_number %>
                    </p>
                    <p dir="ltr">
                        Подпись______________________
                    </p>
                    <br/>
                </td>
            </tr>
        </tbody>
    </table>
</div>
