<div class="content">
    <% {custom_docs, uploaded_docs} = Enum.split_with(@patient.documents, &(&1.template)) %>
    <h3> Документы </h3>
    <ul>
        <%= for doc <- custom_docs do %>
        <li> <%= link doc.name, to: patient_document_path(@conn, :print, @patient, doc) %>
            <span><%= link "Show", to: patient_document_path(@conn, :show, @patient, doc), class: "btn btn-default btn-xs" %></span>
        </li>
        <% end %>
    </ul>
    <h3> Загруженные документы </h3>
    <ul>
        <%= for doc <- uploaded_docs do %>
            <li> <%= link doc.name, to: local_path(doc) %>
                <span><%= link "Show", to: patient_document_path(@conn, :show, @patient, doc), class: "btn btn-default btn-xs" %></span>
                <span><%= link "Delete", to: patient_document_path(@conn, :delete, @patient, doc), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span> </li>
        <% end %>
    </ul>
</div>
<span><%= link "Загрузить новый документ", to: patient_document_path(@conn, :new, @patient) %></span>
<br />
<span><%= link "Назад", to: patient_path(@conn, :show, @patient) %></span>
