<%= form_for @changeset, patient_document_path(@conn, :create, @patient), [multipart: true], fn f -> %>
      <h3> Новый документ </h3>
        <div class="form-group">
            <%= label f, "Название", class: "control-label" %>
            <%= text_input f, :name, class: "form-control" %>
            <%= error_tag f, :name %>
        </div>
        <div class="form-group">
            <%= label f, :file, class: "control-label" %>
            <%= file_input f, :file, class: "form-control" %>
            <%= error_tag f, :file %>
        </div>
  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
