<h2>Show Document</h2>
<ul>
  <li>
    <strong>Name:</strong>
    <%= @document.name %>
  </li>
  <li>
    <strong>Agreed?:</strong>
    <%= @document.agreed %>
  </li>
  <%= if @document.template do %>
  <li>
    <strong>Template:</strong>
    <%= @document.template %>
  </li>
  <li> <%= link "Print", to: patient_document_path(@conn, :print, @patient, @document) %>
  <% end %>
  <%= if @document.local_path do %>
  <li>
    <strong>File name:</strong>
    <%= Path.basename(@document.local_path) %>
  </li>
  <li>
    <strong> <%= link "Download", to: local_path(@document) %></strong>
  </li>
  <% end %>
</ul>

<span><%= link "Edit", to: patient_document_path(@conn, :edit, @patient, @document) %></span>
<span><%= link "Back", to: patient_document_path(@conn, :index, @patient) %></span>
