<%= if Enum.empty?(His.Accounts.admins()) do %>
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Первая регистрация</h3>
    </div>
    <div class="panel-body">
        В системе никто не зарегистрирован.
        <%= link "Пожалуйста создайте учетную запись администратора для продолжения.", to: registration_path(@conn, :new) %>
    </div>
</div>
<% end %>
<div class="login-form">
    <%= form_tag session_path(@conn, :create) do %>
        <div class="form-group">
            <label class="control-label" for="email">Эл. почта</label>
            <input class="form-control" id="email" name="email" type="text">
        </div>
        <div class="form-group">
            <label class="control-label" for="password">Пароль</label>
            <input class="form-control" id="password" name="password" type="password">
        </div>
        <div class="form-group">
        <%= link "Восстановить пароль", to: password_reset_path(@conn, :show) %>
        </div>
        <%= submit "Войти", class: "btn btn-primary" %>
    <% end %>
</div>
