<div class="content">
<div class="card" style="width: 20rem;">
    <div class="card-block">
        <h4 class="card-title"><%= lfm(@user) %></h4>
        <p class="card-text"> <%= @user.email %> </p>
        <p class="card-text">
          <span class="label label-info"><%= tr_position(@user.position) %> </span>
        </p>
    </div>
</div>
<h2>Приемы</h2>
<table class="table">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Дата</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for visitation <- @user.visitations do %>
  <tr class="<%= if visitation.first, do: "first" %>">
      <td><%= link His.Web.DocumentView.full_name(visitation.patient), to: patient_path(@conn, :show, visitation.patient) %> </td>
      <td><%= visitation.inserted_at |> format_time() %> </td>

      <td class="text-right">
        <span><%= link "Редактировать", to: patient_visitation_path(@conn, :edit, visitation.patient, visitation), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Удалить", to: patient_visitation_path(@conn, :delete, visitation.patient, visitation), method: :delete, data: [confirm: "Вы уверены?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
</div>
