<h2>Редактировать МКБ</h2>

<%= render "form.html", changeset: @changeset,
                        action: mkb_path(@conn, :update, @mkb) %>

<span><%= link "Назад", to: mkb_path(@conn, :index) %></span>
