<h2>Список кодов МКБ</h2>

<table class="table mkbs">
  <thead>
    <tr>
      <th>Код</th>
      <th>Описание пункта</th>
      <th>Состав пункта</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for mkb <- @mkbs do %>
    <tr>
      <td><%= mkb.code %></td>
      <td><%= mkb.short_desc %></td>
      <td>
        <%= if length(mkb.sub_codes) > 0 do %>
          <table class="table nested">
            <thead>
              <tr>
                <th>Код</th>
                <th>Описание</th>
              </tr>
            </thead>
            <tbody>
              <%= for sub <- mkb.sub_codes do %>
                <tr>
                  <td> <%= sub.code %> </td>
                  <td> <%= sub.short_desc %> </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </td>
      <td class="text-right">
        <span><%= link "Добавить подкод", to: mkb_subs_path(@conn, :new, mkb), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Показать", to: mkb_path(@conn, :show, mkb), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Редактировать", to: mkb_path(@conn, :edit, mkb), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Удалить", to: mkb_path(@conn, :delete, mkb), method: :delete, data: [confirm: "Вы уверены?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Mkb", to: mkb_path(@conn, :new) %></span>
