<h2>Поросмотр МКБ</h2>

<ul>

  <li>
    <strong>Код:</strong>
    <%= @mkb.code %>
  </li>

  <li>
    <strong>Краткое описание:</strong>
    <%= @mkb.short_desc %>
  </li>

  <li>
    <%= link "Показать подкоды", to: mkb_subs_path(@conn, :index, @mkb) %>
  </li>

</ul>

<span><%= link "Редактировать", to: mkb_path(@conn, :edit, @mkb) %></span>
<span><%= link "Назад", to: mkb_path(@conn, :index) %></span>
