<h2>Редактировать пользователя</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_path(@conn, :update, @user) %>

<span><%= link "Назад", to: user_path(@conn, :index) %></span>
