<% positions = Enum.map(His.Accounts.User.positions, fn p -> {His.Web.DashboardView.tr_position(p), p} end) %>
<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :email, class: "control-label" %>
    <%= text_input f, :email, class: "form-control" %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group">
    <%= label f, "Фамилия", class: "control-label" %>
    <%= text_input f, :last_name, class: "form-control" %>
    <%= error_tag f, :last_name %>
  </div>

  <div class="form-group">
    <%= label f, "Имя", class: "control-label" %>
    <%= text_input f, :first_name, class: "form-control" %>
    <%= error_tag f, :first_name %>
  </div>

  <div class="form-group">
    <%= label f, "Отчество", class: "control-label" %>
    <%= text_input f, :middle_name, class: "form-control" %>
    <%= error_tag f, :middle_name %>
  </div>

  <div class="form-group">
    <%= label f, "Должность", class: "control-label" %>
    <%= select f, :position, positions, class: "form-control" %>
    <%= error_tag f, :position %>
  </div>

  <div class="form-group">
    <%= submit "Выслать приглашение", class: "btn btn-primary" %>
  </div>
<% end %>
