<h2>Список сотрудников</h2>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Отчество</th>
      <th>Должность</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.last_name %></td>
      <td><%= user.first_name %></td>
      <td><%= user.middle_name %></td>
      <td><%= His.Web.DashboardView.tr_position(user.position) %></td>

      <td class="text-right">
        <span><%= link "Показать", to: user_path(@conn, :show, user), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Редактировать", to: user_path(@conn, :edit, user), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Удалить", to: user_path(@conn, :delete, user), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Новый пользователь", to: user_path(@conn, :new) %></span>
