<h2>Просмотр пользователя</h2>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Фамилия:</strong>
    <%= @user.last_name %>
  </li>

  <li>
    <strong>Имя:</strong>
    <%= @user.first_name %>
  </li>

  <li>
    <strong>Отчество:</strong>
    <%= @user.middle_name %>
  </li>

  <li>
    <strong>Должность:</strong>
    <%= His.Web.DashboardView.tr_position(@user.position) %>
  </li>

</ul>

<span><%= link "Редактировать", to: user_path(@conn, :edit, @user) %></span>
<span><%= link "Назад", to: user_path(@conn, :index) %></span>
