<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MCRZ HIS</title>
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
            <ul class="nav nav-pills pull-right" style="margin-top: 0;">
                <%= if logged_in?(@conn) do %>
                    <%= if is_admin?(@current_user) do %>
                        <div class="btn-group actions">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Редактировать <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><%= link "МКБ", to: mkb_path(@conn, :index) %></li>
                                <li><%= link "Жалобы", to: complaint_categories_path(@conn, :index) %></li>
                    <li><%= link "Пользователи", to: user_path(@conn, :index)%></li>
                            </ul>
                        </div>
                <% end %>
                <li><%= link "Пациенты", to: patient_path(@conn, :index), class: "btn btn-info" %></li>
                <li><%= link "Выход", to: session_path(@conn, :delete) %></li>
              <% end %>
          </ul>
        </nav>
        <% path = if logged_in?(@conn), do: dashboard_path(@conn, :show), else: page_path(@conn, :index) %>
        <a href="<%= path %>"><h1>МЦРЗ МИС</h1></a>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script>
</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
