<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.4" media="print">
    <link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.4/dist/themes/old.min.css" media="print">
    <style>
     table,th,td{border-bottom:0px solid #000}
     .child_value{margin-left: 8px; margin-right: 8px;}
    </style>
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
