<h2>Редактировать данные пациента</h2>

<%= render "form.html", changeset: @changeset,
                        action: patient_path(@conn, :update, @patient) %>

<span><%= link "Назад", to: patient_path(@conn, :index) %></span>
