<%= form_for @changeset, @action, [multipart: true], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :email, class: "control-label" %>
    <%= text_input f, :email, class: "form-control" %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group">
    <%= label f, "Фамилия", class: "control-label" %>
    <%= text_input f, :last_name, class: "form-control" %>
    <%= error_tag f, :last_name %>
  </div>

  <div class="form-group">
    <%= label f, "Имя", class: "control-label" %>
    <%= text_input f, :first_name, class: "form-control" %>
    <%= error_tag f, :first_name %>
  </div>

  <div class="form-group">
    <%= label f, "Отчество", class: "control-label" %>
    <%= text_input f, :middle_name, class: "form-control" %>
    <%= error_tag f, :middle_name %>
  </div>

  <div class="form-group">
    <%= label f, :code, class: "control-label" %>
    <%= text_input f, :code, class: "form-control" %>
    <%= error_tag f, :code %>
  </div>

  <div class="form-group">
    <%= label f, "Адрес", class: "control-label" %>
    <%= text_input f, :address, class: "form-control" %>
    <%= error_tag f, :address %>
  </div>

  <div class="form-group">
    <%= label f, "Номер телефона", class: "control-label" %>
    <%= text_input f, :phone_number, class: "form-control" %>
    <%= error_tag f, :phone_number %>
  </div>

  <div class="form-group">
    <%= label f, "Дата рождения", class: "control-label" %>
    <%= date_select f, :birthday, year: [options: 1900..current_year()], class: "form-control" %>
    <%= error_tag f, :birthday %>
  </div>

  <div class="form-group">
    <%= submit "Сохранить", class: "btn btn-primary" %>
  </div>
<% end %>
