<h2>Список пациентов</h2>

<table class="table">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Фамилия</th>
      <th>Code</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for patient <- @patients do %>
    <tr>
      <td><%= patient.first_name %></td>
      <td><%= patient.middle_name %></td>
      <td><%= patient.last_name %></td>
      <td><%= patient.code %></td>

      <td class="text-right">
        <span><%= link "Показать", to: patient_path(@conn, :show, patient), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Редактировать", to: patient_path(@conn, :edit, patient), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Удалить", to: patient_path(@conn, :delete, patient), method: :delete, data: [confirm: "Вы уверены?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Добавить пациента", to: patient_path(@conn, :new) %></span>
