<h2>Новый пациент</h2>

<%= render "form.html", changeset: @changeset,
                        action: patient_path(@conn, :create) %>

<span><%= link "Назад", to: patient_path(@conn, :index) %></span>
