<h2>Данные пациента</h2>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @patient.email %>
  </li>

  <li>
    <strong>Фамилия:</strong>
    <%= @patient.last_name %>
  </li>

  <li>
    <strong>Имя:</strong>
    <%= @patient.first_name %>
  </li>

  <li>
    <strong>Отчество:</strong>
    <%= @patient.middle_name %>
  </li>

  <li>
    <strong>Код:</strong>
    <%= @patient.code %>
  </li>

  <li>
    <strong>Адрес:</strong>
    <%= @patient.address %>
  </li>

  <li>
    <strong>Номер телефона:</strong>
    <%= @patient.phone_number %>
  </li>

  <li>
    <strong>Дата рождения:</strong>
    <%= @patient.birthday %>
  </li>

  <li>
    <strong>Первое посещение:</strong>
    <%= @patient.first_visit %>
  </li>
  <li>
    <%= link "Документы", to: patient_document_path(@conn, :index, @patient) %>
  </li>
  <li>
    <%= link "Посещения", to: patient_visitation_path(@conn, :index, @patient) %>
  </li>
</ul>

<span><%= link "Редактировать", to: patient_path(@conn, :edit, @patient) %></span>
<span><%= link "Назад", to: patient_path(@conn, :index) %></span>
