<h2>Edit Complaints</h2>

<%= render "form.html", changeset: @changeset,
                        action: complaint_categories_complaints_path(@conn, :update, @category, @complaints) %>

<span><%= link "Back", to: complaint_categories_complaints_path(@conn, :index, @category) %></span>
