<h2>Жалобы</h2>

<table class="table">
  <thead>
    <tr>
      <th>Текст</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for complaints <- @complaints do %>
    <tr>
      <td><%= complaints.body %></td>

      <td class="text-right">
        <span><%= link "Показать", to: complaint_categories_complaints_path(@conn, :show, @category, complaints), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Редактировать", to: complaint_categories_complaints_path(@conn, :edit, @category, complaints), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Удалить", to: complaint_categories_complaints_path(@conn, :delete, @category, complaints), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Новая жалоба", to: complaint_categories_complaints_path(@conn, :new, @category) %></span>
