<h2> Новая жалоба </h2>

<%= render "form.html", changeset: @changeset,
                        action: complaint_categories_complaints_path(@conn, :create, @category) %>

<span><%= link "Назад", to: complaint_categories_complaints_path(@conn, :index, @category) %></span>
