<h2>Show Complaints</h2>

<ul>

  <li>
    <strong>Body:</strong>
    <%= @complaints.body %>
  </li>

</ul>

<span><%= link "Edit", to: complaint_categories_complaints_path(@conn, :edit, @category, @complaints) %></span>
<span><%= link "Back", to: complaint_categories_complaints_path(@conn, :index, @category) %></span>
